/* forms */
body{
<<<<<<< HEAD
    padding-top: 70px;  
}
.error{
    color:red;
=======
    padding-top: 70px;   
}

.error{
    color:red;
  font-family: 'Niconne', cursive;

>>>>>>> bd699ab67ce68bccce9d10411c5cd5ba548dc4d0
}

.parent{
    margin: 30px auto;
    font-family: "Times New Roman", Times, serif;
}

.text-color{
  font-family: 'Niconne', cursive;
<<<<<<< HEAD
  color: rgb(100, 69, 28);
}
=======

  color: rgb(100, 69, 28);
}

>>>>>>> bd699ab67ce68bccce9d10411c5cd5ba548dc4d0
.text-size{
  font-size: 20px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
<<<<<<< HEAD
  
=======
  
>>>>>>> bd699ab67ce68bccce9d10411c5cd5ba548dc4d0
