body { 
<<<<<<< HEAD
    padding-top: 70px; 
=======
    /* padding-top: 70px;  */
>>>>>>> bd699ab67ce68bccce9d10411c5cd5ba548dc4d0
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(100, 69, 28);
}
